body{

    background-color: cadetblue;
    color: white;
    text-align: center;
    font-family: Arial;

}
#cuerpo {

    border: 1px solid red;
    width: auto;
    height: 500px;
    
}

.contexto{
    text-align: left;
}
ul{
    text-align: left;
}